@charset "ISO-8859-1";

/*The text colors are white inside the body
and the background is a gray color. */
body {
   margin: 0;
   background: #65737e;
	font-family: sans-serif;
	font-weight: normal;
	color: #ffffff;
}
 

/*This is the navigation bar that is on the top
of the page. It is centered. */
.topnav {
	background: #65737e;
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

header {
	background: #65737e;
}

nav {
	float: center;
}
/*Inline blocks puts the linked site titles next to eachother.*/
nav ul {
	display: inline-block;
	list-style: none;
}
/*30px is the space between the titles in the navigation bar.*/
nav li {
	display: inline-block;
	padding-right: 30px;
}

/*This hides the automatic underline for text with a link*/
nav a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 18px;
}

/*This is the hover color of the titles in the navigation bar.*/
nav a:hover {
	color: #000000;
}

nav a:hover {
	background: #65737e;
	width: 100%;
	Color: FFF8DC;
}

.centerTable {
	margin-left: auto;
	margin-right: auto;
}

/*This centers the logo. It uses a display block, so the
text won't be placed next to the picture.*/
.centerpic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
}

/*This centers the main course picture in the welcome.html
It uses a display block.*/

.centerpic2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
}

.centerpic3 {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 28%;
}
/*This places the text in the welome.html on the center of the page*/
.centerText {
	text-align: center;
	top: 50%;
	left: 50% transform: translatex(-50%);
}

/*This hides the automatic underline for text with a link*/
.centerText a {
	color: #FFFFFF;
	text-decoration: none;
}

/*This is the hover color for the elements in the centerText class a tags.*/
.centerText a:hover {
	color: #000000;
}
/*This puts the content in the center with a left text alignment*/
.center {
	text-align: center;
}

/*This sets the text to the left alignment*/
.LeftText {
	text-align: left;
	/*This sets the text vertically
    on a new line instead of placing 
    them in the horizontal spaces 
    next to each text block. */
	display: inline-block;
}
/*This is the footer for the websites. 
It also centers the text and it adds a thin border line on top 
of the footer container. */
#footer {
	bottom: 0;
   text-align: center;
   display: inline-block;
   border-top-style: solid;
   border-top-color: #A9A9A9;
   border-top-width: thin;
   width: 100%;

}

/*This changes the text in the a tag in the footer to white text color
and hides the automatic underline on the hyperlink. */
#footer a {
	color: #FFFFFF;
	text-decoration: none;
}

#footer a: hover {
	color: #000000;
}